FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy Gerrit

Parameters:

Body: |
  deploy_gerrit()

Scripts:
  deploy_gerrit:
    Type: Application
    Version: 1.0.0
    EntryPoint: deploy_gerrit.sh
    Files: [
      'gen_ssl_cert.sh',
      'gen_rsa_key.sh',
      'database.pp',
      'site.pp',
      'create_projects.pp',
      'gerrit_gitconfig.erb',
      'create_projects.sh'
    ]
    Options:
      captureStdout: false
      captureStderr: true
      verifyExitcode: true

