FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy Gerrit

Parameters:

Body: |
  deploy()

Scripts:
  deploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: deploy_gerrit.sh
    Files: ['gen_ssl_cert.sh', 'gen_rsa_key.sh', 'database.pp', 'site.pp']
    Options:
      captureStdout: false
      captureStderr: true
      verifyExitcode: true

