FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy Zuul

Body: |
  return deploy().stdout

Scripts:
  deploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: deploy.sh
    Files: ['site.pp']
    Options:
      captureStdout: true
      captureStderr: true