FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy Gerrit

Parameters:

Body: |
  return deploy().stdout

Scripts:
  deploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: deploy_gerrit.sh
    Files: ['site.pp', 'database.pp', 'gen_ssl_cert.sh', 'gen_rsa_key.sh']
    Options:
      captureStdout: true
      captureStderr: true
      verifyExitcode: true

