Namespaces:
  =: org.openstack.ci_cd_pipeline_murano_app.utils
  res: io.murano.resources

Name: CombinableApplication

Methods:
  deploy:
    Body:
      - $instance: $.deployInstance()
      - $.deployApplication($instance)

  # This method should be overridden in child classes.
  deployInstance:

  # This method should be overridden in child classes.
  deployApplication:
    Arguments:
      - instance:
          Contract: $.class(res:Instance).notNull()
