FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy LBaaS

Body: |
  return LBaasDeploy().stdout

Scripts:
  LBaasDeploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: deployLBaaS.sh
    Files:
      - <lbaas.tar.gz.bs64>
      - lbaas.conf.sample
    Options:
      captureStdout: true
      captureStderr: true
