FormatVersion: 2.1.0
Version: 1.0.0
Name: Start LBaaS

Body: |
  return LBaasStart().stdout

Scripts:
  LBaasStart:
    Type: Application
    Version: 1.0.0
    EntryPoint: startLBaaS.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true
