FormatVersion: 2.1.0
Version: 1.0.0
Name: Install Hiera

Parameters:

Body: |
  return installHiera().stdout

Scripts:
  installHiera:
    Type: Application
    Version: 1.0.0
    EntryPoint: install/install_hiera.sh
    Files:
      - install/hiera.yaml
      - install/murano.yaml
    Options:
      captureStdout: true
      captureStderr: true
      verifyExitcode: true
