FormatVersion: 2.0.0
Version: 1.0.0
Name: InstallPuppet

Parameters:

Body: |
  return installPuppet().stdout

Scripts:
  installPuppet:
    Type: Application
    Version: 1.0.0
    EntryPoint: install_puppet.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true
      verifyExitcode: true
