FormatVersion: 2.1.0
Version: 1.0.0
Name: InstallPuppet

Parameters:

Body: |
  return installPuppet().stdout

Scripts:
  installPuppet:
    Type: Application
    Version: 1.0.0
    EntryPoint: installPuppet.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true
      verifyExitcode: true
