FormatVersion: 2.0.0
Version: 1.0.0
Name: Hiera Data

Parameters:
  path: $path
  data: $data

Body: |
  import yaml

  # I guees murano-agent does not execute requests in parallel
  with open(args.path) as f:
      dct = yaml.load(f)

  dct.update(args.data)

  with open(args.path, "w") as f:
      yaml.safe_dump(dct, f, default_flow_style=False)

Scripts: {}