FormatVersion: 2.0.0
Version: 1.0.0
Name: Hiera Data

Parameters:
  path: $path
  key: $key
  value: $value

Body: |
  return putHieraData('"{0}" "{1}" "{2}"'.format(args.path, args.key, args.value)).stdout

Scripts:
  putHieraData:
    Type: Application
    Version: 1.0.0
    EntryPoint: setYamlValue.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true
      verifyExitcode: true
