FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy Nodepool

Body: |
  deployNodepool()

Scripts:
  deployNodepool:
    Type: Application
    Version: 1.0.0
    EntryPoint: deploy_nodepool.sh
    Files:
      - site.pp
      - nodepool_configure/templates/nodepool.yaml.erb
      - nodepool_configure/manifests/init.pp
    Options:
      captureStdout: false
      captureStderr: true
      verifyExitcode: true

