Namespaces:
  =: org.openstack.ci_cd_pipeline_murano_app.puppet
  std: io.murano
  res: io.murano.resources
  sys: io.murano.system
  puppet: org.openstack.ci_cd_pipeline_murano_app.puppet

Name: SystemConfig
Properties:
  projectConfigRepo:
    Contract: $.string().notNull()
    Default: 'https://review.fuel-infra.org/open-paas/project-config'
Methods:
  installOnTheNode:
    Arguments:
      instance:
        Contract: $.class(puppet:PuppetInstance)
    Body:
      - $resources: new(sys:Resources)
      - $template: $resources.yaml('SystemConfig.template')
      - $instance.agent.call($template, $resources)
      - $instance.setHieraValue( 'project_config_repo', $this.projectConfigRepo)