FormatVersion: 2.0.0
Version: 1.0.0
Name: Deploy OpenLDAP

Parameters:
  appName: $appName

Body: |
  return deploy(args.appName).stdout

Scripts:
  deploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: deployOpenLDAP.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true
