FormatVersion: 2.1.0
Version: 1.0.0
Name: Configure Maven

Body: |
  return configureMaven().stdout

Scripts:
  configureMaven:
    Type: Application
    Version: 1.0.0
    EntryPoint: configure_maven.sh
    Files:
      - configure_maven/templates/hudson.tasks.Maven.xml.erb
      - configure_maven/manifests/init.pp
      - configure_maven.pp
    Options:
      captureStdout: true
      captureStderr: true