FormatVersion: 2.0.0
Version: 1.0.0
Name: Configure Jenkins Job Builder

Parameters:
  jenkinsip: $jenkinsip
  user:      $user
  password:  $password

Body: |
  return configure('{0} {1} {2}'.format(args.jenkinsip, args.user, args.password)).stdout

Scripts:
  configure:
    Type: Application
    Version: 1.0.0
    EntryPoint: configureJJB.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true
      verifyExitcode: false