FormatVersion: 2.1.0
Version: 1.0.0
Name: Configure Credentials

Body: |
  return configureCredentials().stdout

Scripts:
  configureCredentials:
    Type: Application
    Version: 1.0.0
    EntryPoint: configure_credentials.sh
    Files:
      - configure_credentials/files/credentials.xml
      - configure_credentials/manifests/init.pp
      - configure_credentials.pp
    Options:
      captureStdout: true
      captureStderr: true