FormatVersion: 2.1.0
Version: 1.0.0
Name: Connect LDAP

Body: |
  return deploy(args).stdout

Scripts:
  deploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: configure_ldap.sh
    Files:
      - 'configure_ldap/templates/config.erb'
      - 'configure_ldap/manifests/init.pp'
      - 'ldap_init.pp'
    Options:
      captureStdout: true
      captureStderr: true