FormatVersion: 2.0.0
Version: 1.0.0
Name: Install Jenkins Job Builder

Body: |
  return deploy().stdout

Scripts:
  deploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: installJJB.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true
      verifyExitcode: false