FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy Jenkins


Body: |
  return install_plugin().stdout

Scripts:
  install_plugin:
    Type: Application
    Version: 1.0.0
    EntryPoint: install_cf_plugin.sh
    Files: ['cf_plugin.pp']
    Options:
      captureStdout: true
      captureStderr: true