FormatVersion: 2.1.0
Version: 1.0.0
Name: Install Jenkins plugins

Parameters:
  plugins: $plugins

Body: |
  return install_plugin(args.plugins).stdout

Scripts:
  install_plugin:
    Type: Application
    Version: 1.0.0
    EntryPoint: install_plugins.sh
    Options:
      captureStdout: true
      captureStderr: true