FormatVersion: 2.1.0
Version: 1.0.0
Name: Configure User


Body: |
  return deploy().stdout

Scripts:
  deploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: jenkins_user.sh
    Files: ['jenkins_user.sh', 'jenkins_user.pp']
    Options:
      captureStdout: true
      captureStderr: true
